<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pocedex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4310263C1E6E0F93009BA61B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>431026501E6E0F94009BA61B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4310265B1E6E0F94009BA61B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
